<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="main.css">
    <title>Swingscouts - Dein Swingtanzverein in Winterthur - Swing Dancing in Winterthur</title>
</head>

<body>
    <div class="frly1">
        <div class="frly3">
            <div class="sitetitle">
                <div class="sitelogo"><a href=".">
                        <div style="width:100%;height:100%;"></div>
                    </a></div>
                <h1 class="sitetitle"><a href=".">Swingscouts</a></h1>
                <h2 class="sitesub1">
                    Dein Swingtanzverein in Winterthur. Lindy Hop, Shag, Balboa, Solo Jazz und vieles
                    mehr.
                </h2>
                <div class="sitemenu">
                    <div><a href="kurse.html">Kurse</a></div>
                    <div><a href="#">Events</a></div>
                    <div><a href="#site-footer">Weiteres</a></div>
                </div>
            </div>
            PAGE_CONTENT
            <div class="cnt-full spacer-above-footer"></div>
        </div>
    </div>
    <div id="site-footer" class="frly1 footer-band">
        <div class="footer-area">
            <div class="col1">
                <p class="fawe"></p>
                <p><a href="mailto:#">E-Mail</a></p>
                <p class="fawebr"></p>
                <p><a href="https://www.instagram.com/swing_scouts">@swing_scouts</a></p>
                <p class="fawebr"></p>
                <p><a href="https://www.facebook.com/groups/73028980446">Facebook</a></p>
                <p></p>
                <p><a href="#">Kurse</a></p>
                <p></p>
                <p><a href="#">Events</a></p>
                <p></p>
                <p><a href="#">Newsletter</a></p>
                <p></p>
                <p><a href="#">Swingstation</a></p>
            </div>
            <div class="col2">
                <p></p>
                <p>Swingscouts Winterthur e.V.</p>
                <p></p>
                <p><a href="#">Kontakt</a></p>
                <p></p>
                <p><a href="#">Der Verein</a></p>
                <p></p>
                <p><a href="#">Mitglied werden</a></p>
                <p></p>
                <p><a href="#">Unsere Geschichte</a></p>
                <p></p>
                <p><a href="#">AGB</a></p>
            </div>
        </div>
    </div>
</body>

</html>